footer.footer
  .footer-content
    .footer-brand
      i.fas.fa-mountain
      span Unseen Britain
      p.tagline Discover Britain's hidden treasures
    
    .footer-links
      .footer-column
        h4 Explore
        a(href="/") Home
        a(href="/places") All Places
        a(href="/categories") Categories
        a(href="/regions") Regions
        a(href="/difficulty") By Difficulty
      
      .footer-column
        h4 Community
        a(href="/explorers") Top Explorers
        a(href="/recent") Recently Added
        a(href="/featured") Featured Places
        a(href="/guidelines") Community Guidelines
      
      .footer-column
        h4 Support
        a(href="/help") Help Center
        a(href="/contact") Contact Us
        a(href="/faq") FAQ
        a(href="/safety") Safety Tips
    
    .footer-social
      h4 Connect With Us
      .social-icons
        a(href="#" aria-label="Twitter")
          i.fab.fa-twitter
        a(href="#" aria-label="Instagram")
          i.fab.fa-instagram
        a(href="#" aria-label="Facebook")
          i.fab.fa-facebook-f
        a(href="#" aria-label="YouTube")
          i.fab.fa-youtube
  
  .footer-bottom
    p © #{new Date().getFullYear()} Unseen Britain. All rights reserved.
    p 
      a(href="/privacy") Privacy Policy
      |  | 
      a(href="/terms") Terms of Service
      |  | 
      a(href="/cookies") Cookie Policy