//- Navigation Bar for Unseen Britain
nav.navbar
  .navbar-container
    //- Brand Logo
    a.navbar-brand(href="/")
      i.fas.fa-mountain
      .brand-text
        h1 Unseen Britain
        p.tagline Discover Hidden Places

    
    //- Navigation Menu
    .navbar-menu
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/dashboard")
            i.fas.fa-columns
            span Dashboard
        
        li.nav-item
          a.nav-link(href="/favorites")
            i.fas.fa-heart
            span Favorites
        
        li.nav-item
          a.nav-link(href="/profile")
            i.fas.fa-user-circle
            span Profile
        
        li.nav-item
          a.nav-link.nav-logout(href="/logout")
            i.fas.fa-sign-out-alt
            span Logout