//- Navigation Bar for Unseen Britain
nav.navbar
  .navbar-container
    //- Brand Logo
    a.navbar-brand(href="/")
      i.fas.fa-mountain
      .brand-text
        h1 Unseen Britain
        p.tagline Discover Hidden Places

    //- Navigation Menu
    .navbar-menu
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/")
            i.fas.fa-home
            span Home
        
        li.nav-item
          a.nav-link(href="/login")
            i.fas.fa-sign-in-alt
            span Login
        
        li.nav-item
          a.nav-link(href="/registration")
            i.fas.fa-user-plus
            span Register